<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
  <div class="container">
    <h1 class="indexPage">The Mongoose Store</h1><button><a href="/products/new">Add a New Product</a></button>

    <ul>
      <% products.forEach(product=> { %>
        <li>
          <a href="/products/<%=product._id %>">
            <img src=<%=product.img%> %>
        </li>
        <div class="product">
          Name: <%= product.name %> <br />
            Price:<%= product.price %> <br />
              Qty: <%= product.qty %></a><br /><br /><br />
        </div>
        <% }) %>
    </ul>
  </div>
</body>

</html>