<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
  <div class="container">
    <nav>
      <a href="/products/new">Add a New Product</a>
    </nav>
    <h1 class="indexPage">The Mongoose Store</h1>
    <ul>
      <% products.forEach(product=> { %>
        <li>
          <a href="/products/<%=product._id %>">
            <img src=<%=product.img%> %>
          </a><br />
          Price:<%= product.price %> <br />
            Qty: <%= product.qty %>
        </li>
        <% }) %>
    </ul>
  </div>
</body>

</html>