<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
  <div class="container">
    <h1>
      <%=product.name %>
    </h1><button>
      <a href="/products">Back to Products Page</a>
    </button>
    <br />
    <br />

    Description: <%=product.description %>
      <br />
      <img src="<%=product.img %>" alt="product picture" />

      <%if (product.qty> 0) {%>
        <!-- Buy Button  Only if qty > 0 -->
        <!-- Need to figure out how to reduce qty by 1 -->
        <form action="/products/<%=product._id%>/buy?_method=PUT" method="POST" style="display:inline;margin-left:10px">
          <input type="submit" value="BUY!">
        </form>
        <%} else {%>
          OUT OF STOCK!
          <%}%>
            <!-- ******************************** -->
            <br />
            Price: <%= product.price%>
              <br />
              Qty: <%= product.qty%>
                <br />
                <button><a href="/products/<%=product._id %>/edit">Edit</a></button>

                <form action="/products/<%=product._id%>?_method=DELETE" method="POST"
                  style="display:inline;margin-left:10px">
                  <input type="submit" value="Delete">
                </form><br />


  </div>
</body>

</html>